{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var action \EasyCorp\Bundle\EasyAdminBundle\Dto\ActionDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
<form method="POST" action="{{ action.linkUrl }}" class="me-2">
    {{ include('@EasyAdmin/crud/action.html.twig') }}
</form>